/* Show it is fixed to the top */
body {
  min-height: 75rem;
  padding-top: 4.5rem;
}
/* .navbar {
  background-color: #fcfcfc;
} */
/* .navbar .navbar-brand {
  color: #ffffff;
  margin-right: 15rem;
} */
.navbar-dark .navbar-nav .nav-item .nav-link.active
{
  color: #000000;
}
.navbar-dark .navbar-nav .nav-item .nav-link
{
  color: #878787;
}